@media (max-width: 100px) {
  .pokemon-card,
  .overlay {
    font-size: 8px;
    padding: 2px;
    width: 98vw;
    min-width: 0;
  }
  .overlay {
    left: 1vw;
    right: 1vw;
    top: 5vh;
  }
  .pokemon-image {
    width: 60px;
    height: auto;
  }
}

@media (max-width: 450px) {
  .nav-flex {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 250px) {
  .search-input {
    width: 90vw;
    max-width: 100px;
  }
}

@media (max-width: 768px) {
  #content,
  .header,
  .footer {
    max-width: 100%; 
    padding: 10px;
  }
}

@media (max-width: 825px) {
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .Pokemon_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  h1 {
    display: none;
  }
}

@media (max-width: 650px) {
  .logo_img {
    height: 80px;
  }
}

@media (max-width: 430px) {
  .logo_img {
    display: none;
  }
}

@media (max-width: 615px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 385px) {
  .footer-links {
    display: none;
  }
}

@media (max-width: 315px) {
  .search-input {
    padding: 0px;
    font-size: 10px;
  }
}

@media (max-width: 315px) {
  .search-button {
    padding: 0px;
    font-size: 10px;
  }
}
